.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(#434343 calc(1*100%/6),#FC2A58 0 calc(3*100%/6),#434343 0),
            linear-gradient(#434343 calc(2*100%/6),#FC2A58 0 calc(4*100%/6),#434343 0),
            linear-gradient(#434343 calc(3*100%/6),#FC2A58 0 calc(5*100%/6),#434343 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    
