<div id="contact" class="bg-[#434343]">
    <div class="flex flex-col gap-[18px] xl:py-[104px] md:py-[104px] py-[40px] xl:px-[280px] md:px-[60px] px-[30px]">
        <div class="flex gradient flex-col justify-center items-center gap-[21px] py-[26px] xl:px-[166px] md:px-[166px] px-[15px] rounded-[10px]">
            <p class="text-[#FC2A58] text-center text-4xl text-4xl text-2xl font-[700] font-doppio">Contact Us</p>
            <div class="grid md:grid-cols-2 grid-cols-1 py-3">
                <div class="flex flex-col justify-center">
                    <p class="text-left text-white text-xl text-lg text-md font-doppio font-[600]">Email</p>
                    <a href="mailto:info@datatreee" class="py-4 text-lg text-md text-sm text-white hover:text-[#FC2A58] font-[300] font-poppins">info@datatreee</a>
                </div>
                <div class="flex flex-col justify-center">
                    <p class="text-left text-white text-lg text-xl text-md font-doppio font-[600]">Follow Us</p>
                    <div class="grid grid-cols-3 py-4 px-[10px] gap-[20px] xl:gap-[60px] md:gap-[20px] gap-[30px]">
                        <a href="/"><img src="./assets/images/linkedin.svg" alt=""></a>
                        <a href="/"><img src="./assets/images/twitter.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>