<div id="contact" class="bg-[#434343]">
    <div class="flex flex-col md:gap-[30px] gap-[0] xl:py-[104px] md:py-[104px] py-[40px] xl:px-[280px] md:px-[60px] px-[30px]">
        <p class="text-[#FC2A58] text-center text-4xl text-4xl text-2xl font-[700] font-doppio">Contact Us</p>
        <div class="md:flex block justify-center items-center gap-[30px]">
            <div class="flex justify-center md:py-0 py-8">
                <img src="./assets/images/White Logo.svg" alt="">
            </div>
            <div class="grid md:grid-cols-3 grid-cols-1 gap-[30px]">
                <a target="_blank" href="mailto:info@datatreee" class="flex items-center gap-[20px] text-lg text-md text-sm text-white hover:text-[#FC2A58] font-[300] font-poppins"><img src="./assets/images/email.svg" alt=""> info@datatreee</a>
                <a target="_blank" href="https://www.linkedin.com/company/data-tree-africa/about/" class="flex items-center gap-[20px] text-lg text-md text-sm text-white hover:text-[#FC2A58] font-[300] font-poppins"><img src="./assets/images/linkedin.svg" alt="">Data Tree</a>
                <a target="_blank" href="https://twitter.com/DataTreeAfrica?t=OiLa0RWSUFCKvpiV-LKRxw&s=09" class="flex items-center gap-[20px] text-lg text-md text-sm text-white hover:text-[#FC2A58] font-[300] font-poppins"><img src="./assets/images/twitter.svg" alt="">@DataTreeAfrica</a>
            </div>
        </div>
    </div>
</div>