<div id="contact" class="bg-[#434343]">
    <div class="flex flex-col gap-[18px] xl:py-[104px] md:py-[104px] py-[40px] xl:px-[280px] md:px-[60px] px-[30px]">
        <div class="flex gradient flex-col justify-center items-center gap-[21px] py-[26px] xl:px-[166px] md:px-[166px] px-[15px] rounded-[10px]">
            <p class="text-[#FC2A58] text-center xl:text-4xl md:text-4xl text-2xl font-[700] font-doppio">Contact Us</p>
            <div class="grid grid-cols-3 py-2 px-[10px] gap-[20px] md:gap-[60px]">
                <a href="mailto:info@datatreee"><img src="./assets/images/email.svg" alt=""></a>
                <a href="/"><img src="./assets/images/linkedin.svg" alt=""></a>
                <a href="/"><img src="./assets/images/twitter.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>