<div class="xl:flex md:block sm:block flex xl:gap-[20px] gap-[40px] w-4/4 xl:py-[92px] md:py-[30px] py-[10px] xl:px-[107px] md:px-[60px] px-[30px]">
    <div class="flex xl:gap-[40px] md:gap-[20px] gap-[20px] flex-col xl:w-2/4 md:w-4/4 w-4/4">
        <p class="font-doppio xl:text-4xl md:text-4xl text-2xl font-[400] text-[#434343]">Empowering Africa's Digital Future: Secure,Scalable Data Solutions</p>
        <p class="font-poppins xl:text-lg md:text-md text-sm font-[300] text-[#434343]">Africa's digital landscape is thriving,and its data needs a foundation as strong as its potential.We are driving the effective use of data in Africa</p>
        <a href="#solutions" class="font-doppio flex gap-[8px] xl:w-[238px] md:w-[180px] w-[180px] justify-center items-center text-[#FFF] hover:text-[#FC2A58] font-[400] xl:text-lg md:text-md text-sm py-2 px-[10px] bg-[#FC2A58] border-2 border-[#FC2A58] rounded-[15px] hover:bg-[transparent]"><i class="fa-solid fa-arrow-down-long"></i> View Our Solutions</a>
    </div>
    <div class="xl:w-2/4 md:w-4/4 w-4/4 md:py-8 py-8">
        <img src="./assets/images/Huge Global.png" alt="">
    </div>
</div>