<div class="grid md:grid-cols-2 grid-cols-1 xl:gap-[20px] gap-[40px] w-4/4 xl:py-[60px] md:py-[30px] py-[10px] xl:px-[107px] md:px-[60px] px-[30px]">
    <div class="flex xl:gap-[40px] md:gap-[20px] gap-[20px] flex-col justify-center">
        <p class="font-doppio xl:text-4xl md:text-4xl text-2xl font-[400] text-[#434343]">Empowering Africa's Digital Future: Secure,Scalable Data Solutions</p>
        <p class="font-poppins xl:text-lg md:text-md text-sm font-[300] text-[#434343]">Africa's digital landscape is thriving,and its data needs a foundation as strong as its potential.We are driving the effective use of data in Africa</p>
    </div>
    <div class="order-first sm:order-last">
        <img src="./assets/images/Group (5).svg" alt="">
    </div>
</div>