
<nav class="flex bg-[#fff] items-center justify-between py-[30px] xl:px-[107px] xl:px-[107px] md:px-[60px] px-[30px]">
    <a href="/" class="text-2xl font-[900] no-underline text-white">
      <img class="" src="../../assets/images/Black Logo.svg" alt="">
    </a>
  
    <ul class="hidden md:flex space-x-8 font-medium justify-center items-center">
      <li class="text-[#000000] font-doppio hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm"><a class="active:text-[#FC2A58]" href="#about">About</a></li>
      <li class="text-[#000000] font-doppio hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm"><a class="active:text-[#FC2A58]" href="#solutions">Our Solutions</a></li>
      <li class="text-[#fff] font-doppio rounded-[8px] hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm flex justify-center items-center py-2 px-[10px] bg-[#FC2A58] hover:bg-[transparent] border-2 border-[#FC2A58]"><a class="active:text-[#FC2A58]" href="mailto:info@datatree.africa">Work With Us</a></li>
    </ul>
  
    <button (click)="toggleMobileMenu()" class="md:hidden text-[20px] text-[#000000] focus:outline-none">
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  
    <div
      *ngIf="showMobileMenu"
      class="fixed bg-[#fff] top-0 left-0 w-full z-40 h-screen px-8 py-4 overflow-y-auto md:hidden"
    >
      <button (click)="toggleMobileMenu()" class="absolute top-4 right-4 text-[40px] text-[#000000]">
        &times;
      </button>
      <ul class="mt-8 space-y-4 text-lg font-medium">
        <li class="text-[#000000] font-doppio hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm"><a href="#about">About</a></li>
        <li class="text-[#000000] font-doppio hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm"><a href="#solutions">Our Solutions</a></li>
        <li class="text-[#000000] font-doppio hover:text-[#FC2A58] focus:text-[#FC2A58] xl:text-lg md:text-md text-sm"><a href="mailto:info@datatree.africa">Work With Us</a></li>
      </ul>
    </div>
</nav>  