<div class="flex flex-col gap-[18px] xl:py-[92px] md:py-[92px] py-[40px] xl:px-[107px] md:px-[60px] px-[30px] bg-cover" style="background-image: url('../../assets/images/confetti-doodles\ 1.png')">
    <p class="text-[35px] text-[#FC2A58] font-[400] capitalize font-doppio">Our Values</p>
    <div class="grid xl:grid-cols-2 md:grid-cols-2 grid-cols-1">
        <p class="flex items-top gap-[10px] xl:my-[20px] md:my-[10px] my-[10px] font-poppins xl:text-lg md:text-md text-sm font-[400] text-[#434343]"><i class="fa-solid fa-circle-check text-[#FC2A58]"></i> Champion sustainability by prioritizing innovative technologies</p>
        <p class="flex items-top gap-[10px] xl:my-[20px] md:my-[10px] my-[10px] font-poppins xl:text-lg md:text-md text-sm font-[400] text-[#434343]"><i class="fa-solid fa-circle-check text-[#FC2A58]"></i> Organize data in an ethical manner </p>
        <p class="flex items-top gap-[10px] xl:my-[20px] md:my-[10px] my-[10px] font-poppins xl:text-lg md:text-md text-sm font-[400] text-[#434343]"><i class="fa-solid fa-circle-check text-[#FC2A58]"></i> Foster local partnerships and talent development</p>
        <p class="flex items-top gap-[10px] xl:my-[20px] md:my-[10px] my-[10px] font-poppins xl:text-lg md:text-md text-sm font-[400] text-[#434343]"><i class="fa-solid fa-circle-check text-[#FC2A58]"></i> Drive digital transformation</p>
    </div>
</div>