<div id="about" class="grid md:grid-cols-2 grid-cols-1 bg-[#EEEFF1] xl:gap-[20px] gap-[40px] w-4/4 xl:py-[92px] md:py-[92px] py-[40px] xl:px-[107px] md:px-[60px] px-[30px]">
    <div class="">
        <img src="./assets/images/animated.svg" >
    </div>
    <div class="flex justify-center xl:gap-[20px] md:gap-[20px] gap-[20px] flex-col">
        <p class="font-doppio text-[#434343] xl:text-4xl md:text-4xl text-2xl font-[400]">Making Sense of African Data</p>
        <p class="font-poppins xl:text-lg md:text-md text-sm text-[#434343] font-[300]">Data Tree aggregates, organizes data and provides the technology infrastructure to enable organizations to unleash the potential of the data.</p>
        <p class="font-poppins xl:text-lg md:text-md text-sm text-[#434343] font-[300]">Data Tree plans to empower a sustainable digital future for the continent by providing secure, reliable, and high-performance data infrastructure while minimizing environmental impact.</p>
        <a href="#solutions" class="font-doppio flex gap-[8px] w-[170px] justify-center items-center text-[#FFF] hover:text-[#FC2A58] font-[400] xl:text-lg md:text-md text-sm py-2 px-[10px] bg-[#FC2A58] border-2 border-[#FC2A58] rounded-[15px] hover:bg-[transparent]"><i class="fa-solid fa-greater-than"></i> Our Solutions</a>
    </div>
</div>